.xsd/mdml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://cnx.rice.edu/mdml" xmlns:cxlxt="http://katalysteducation.org/cxlxt/1.0" xmlns:s="http://cnx.rice.edu/system-info" xmlns:cnxml="http://cnx.rice.edu/cnxml" xmlns:ns1="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:cmlnle="http://katalysteducation.org/cmlnle/1.0" xmlns:ns2="http://bibtexml.sf.net/" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:qml="http://cnx.rice.edu/qml/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:mdml="http://cnx.rice.edu/mdml">
  <xs:import namespace="http://bibtexml.sf.net/" schemaLocation="ns2.xsd"/>
  <xs:import namespace="http://cnx.rice.edu/cnxml" schemaLocation="cnxml.xsd"/>
  <xs:import namespace="http://cnx.rice.edu/qml/1.0" schemaLocation="qml.xsd"/>
  <xs:import namespace="http://cnx.rice.edu/system-info" schemaLocation="s.xsd"/>
  <xs:import namespace="http://katalysteducation.org/cmlnle/1.0" schemaLocation="cmlnle.xsd"/>
  <xs:import namespace="http://katalysteducation.org/cxlxt/1.0" schemaLocation="cxlxt.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="mathml.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" schemaLocation="ns1.xsd"/>
  <xs:element name="content-id">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NMTOKEN">
          <xs:attribute ref="cmlnle:case"/>
          <xs:attribute ref="cmlnle:reference"/>
          <xs:attribute ref="cxlxt:born"/>
          <xs:attribute ref="cxlxt:died"/>
          <xs:attribute ref="cxlxt:index"/>
          <xs:attribute ref="cxlxt:name"/>
          <xs:attribute ref="ns1:color"/>
          <xs:attribute ref="ns1:font-style"/>
          <xs:attribute ref="ns1:font-weight"/>
          <xs:attribute ref="xml:lang"/>
          <xs:attribute name="class" type="xs:token"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="repository">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="content-url">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="short-title">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtitle">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="version">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="created">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="revised">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="actors">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="mdml:person"/>
        <xs:element ref="mdml:organization"/>
      </xs:choice>
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="roles">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="mdml:role"/>
      </xs:sequence>
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="license">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
      <xs:attribute name="url" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="extended-attribution">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="cnxml:link-group"/>
      </xs:sequence>
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="derived-from">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="mdml:content-id"/>
        <xs:element ref="mdml:repository"/>
        <xs:element ref="mdml:content-url"/>
        <xs:element ref="mdml:title"/>
        <xs:element ref="mdml:short-title"/>
        <xs:element ref="mdml:subtitle"/>
        <xs:element ref="mdml:version"/>
        <xs:element ref="mdml:created"/>
        <xs:element ref="mdml:revised"/>
        <xs:element ref="mdml:actors"/>
        <xs:element ref="mdml:roles"/>
        <xs:element ref="mdml:license"/>
        <xs:element ref="mdml:extended-attribution"/>
        <xs:element ref="mdml:derived-from"/>
        <xs:element ref="mdml:keywordlist"/>
        <xs:element ref="mdml:subjectlist"/>
        <xs:element ref="mdml:education-levellist"/>
        <xs:element ref="mdml:abstract"/>
        <xs:element ref="mdml:language"/>
        <xs:element ref="mdml:objectives"/>
        <xs:element ref="mdml:homepage"/>
        <xs:element ref="mdml:institution"/>
        <xs:element ref="mdml:course-code"/>
        <xs:element ref="mdml:instructor"/>
        <xs:element ref="mdml:uuid"/>
        <xs:element ref="mdml:canonical-book-uuid"/>
        <xs:element ref="mdml:slug"/>
      </xs:choice>
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
      <xs:attribute ref="s:implementation"/>
      <xs:attribute name="url"/>
      <xs:attribute name="document"/>
      <xs:attribute name="version"/>
      <xs:attribute name="repository"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="keywordlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="mdml:keyword"/>
      </xs:sequence>
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subjectlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="mdml:subject"/>
      </xs:sequence>
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="education-levellist">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="mdml:education-level"/>
      </xs:sequence>
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="abstract">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="mathml:para_2"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:emphasis"/>
          <xs:group ref="mathml:term"/>
          <xs:group ref="mathml:foreign"/>
          <xs:group ref="mathml:cite"/>
          <xs:group ref="mathml:span"/>
          <xs:group ref="mathml:sup"/>
          <xs:group ref="mathml:sub"/>
          <xs:group ref="mathml:code_2"/>
          <xs:element ref="mathml:math"/>
          <xs:group ref="mathml:quote_2"/>
          <xs:group ref="mathml:preformat_2"/>
          <xs:group ref="mathml:list_2"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="language">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectives">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="homepage">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="institution">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="course-code">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="instructor">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="uuid">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="canonical-book-uuid">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="slug">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="person">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="mdml:honorific"/>
        <xs:element ref="mdml:firstname"/>
        <xs:element ref="mdml:othername"/>
        <xs:element ref="mdml:surname"/>
        <xs:element ref="mdml:lineage"/>
        <xs:element ref="mdml:fullname"/>
        <xs:element ref="mdml:email"/>
        <xs:element ref="mdml:homepage"/>
      </xs:choice>
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
      <xs:attribute name="userid"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="organization">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="mdml:fullname"/>
        <xs:element ref="mdml:shortname"/>
        <xs:element ref="mdml:email"/>
        <xs:element ref="mdml:homepage"/>
      </xs:choice>
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
      <xs:attribute name="userid"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="role">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
      <xs:attribute name="type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="keyword">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subject">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
      <xs:attribute name="source"/>
      <xs:attribute name="key"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="education-level">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
      <xs:attribute name="source"/>
      <xs:attribute name="key"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="honorific">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="firstname">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="othername">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="surname">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lineage">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fullname">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="email">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="shortname">
    <xs:complexType mixed="true">
      <xs:attribute ref="cmlnle:case"/>
      <xs:attribute ref="cmlnle:reference"/>
      <xs:attribute ref="cxlxt:born"/>
      <xs:attribute ref="cxlxt:died"/>
      <xs:attribute ref="cxlxt:index"/>
      <xs:attribute ref="cxlxt:name"/>
      <xs:attribute ref="ns1:color"/>
      <xs:attribute ref="ns1:font-style"/>
      <xs:attribute ref="ns1:font-weight"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="class" type="xs:token"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
