.xsd/ns1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://bibtexml.sf.net/" xmlns:s="http://cnx.rice.edu/system-info" xmlns:cnxml="http://cnx.rice.edu/cnxml" xmlns:ns1="http://bibtexml.sf.net/" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:qml="http://cnx.rice.edu/qml/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:mdml="http://cnx.rice.edu/mdml">
  <xs:import namespace="http://cnx.rice.edu/cnxml" schemaLocation="cnxml.xsd"/>
  <xs:import namespace="http://cnx.rice.edu/mdml" schemaLocation="mdml.xsd"/>
  <xs:import namespace="http://cnx.rice.edu/qml/1.0" schemaLocation="qml.xsd"/>
  <xs:import namespace="http://cnx.rice.edu/system-info" schemaLocation="s.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="mathml.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="file">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:entry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="entry">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element ref="ns1:article"/>
        <xs:element ref="ns1:book"/>
        <xs:element ref="ns1:booklet"/>
        <xs:element ref="ns1:manual"/>
        <xs:element ref="ns1:techreport"/>
        <xs:element ref="ns1:mastersthesis"/>
        <xs:element ref="ns1:phdthesis"/>
        <xs:element ref="ns1:inbook"/>
        <xs:element ref="ns1:incollection"/>
        <xs:element ref="ns1:proceedings"/>
        <xs:element ref="ns1:inproceedings"/>
        <xs:element ref="ns1:conference"/>
        <xs:element ref="ns1:unpublished"/>
        <xs:element ref="ns1:misc"/>
      </xs:choice>
      <xs:attribute name="id" use="required" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="article">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="ns1:author"/>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:journal"/>
        <xs:element ref="ns1:year"/>
        <xs:element minOccurs="0" ref="ns1:volume"/>
        <xs:element minOccurs="0" ref="ns1:number"/>
        <xs:element minOccurs="0" ref="ns1:pages"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ns1:author"/>
          <xs:element ref="ns1:editor"/>
        </xs:choice>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:publisher"/>
        <xs:element ref="ns1:year"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:volume"/>
          <xs:element ref="ns1:number"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="ns1:series"/>
        <xs:element minOccurs="0" ref="ns1:address"/>
        <xs:element minOccurs="0" ref="ns1:edition"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="booklet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:author"/>
        <xs:element ref="ns1:title"/>
        <xs:element minOccurs="0" ref="ns1:howpublished"/>
        <xs:element minOccurs="0" ref="ns1:address"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:year"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="manual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:author"/>
        <xs:element ref="ns1:title"/>
        <xs:element minOccurs="0" ref="ns1:organization"/>
        <xs:element minOccurs="0" ref="ns1:address"/>
        <xs:element minOccurs="0" ref="ns1:edition"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:year"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="techreport">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:author"/>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:institution"/>
        <xs:element ref="ns1:year"/>
        <xs:element minOccurs="0" ref="ns1:type"/>
        <xs:element minOccurs="0" ref="ns1:number"/>
        <xs:element minOccurs="0" ref="ns1:address"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mastersthesis">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:author"/>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:school"/>
        <xs:element ref="ns1:year"/>
        <xs:element minOccurs="0" ref="ns1:type"/>
        <xs:element minOccurs="0" ref="ns1:address"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="phdthesis">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:author"/>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:school"/>
        <xs:element ref="ns1:year"/>
        <xs:element minOccurs="0" ref="ns1:type"/>
        <xs:element minOccurs="0" ref="ns1:address"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inbook">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ns1:author"/>
          <xs:element ref="ns1:editor"/>
        </xs:choice>
        <xs:element ref="ns1:title"/>
        <xs:choice>
          <xs:sequence>
            <xs:element ref="ns1:chapter"/>
            <xs:element minOccurs="0" ref="ns1:pages"/>
          </xs:sequence>
          <xs:element ref="ns1:pages"/>
        </xs:choice>
        <xs:element ref="ns1:publisher"/>
        <xs:element ref="ns1:year"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:volume"/>
          <xs:element ref="ns1:number"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="ns1:series"/>
        <xs:element minOccurs="0" ref="ns1:type"/>
        <xs:element minOccurs="0" ref="ns1:address"/>
        <xs:element minOccurs="0" ref="ns1:edition"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="incollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:author"/>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:booktitle"/>
        <xs:element ref="ns1:publisher"/>
        <xs:element ref="ns1:year"/>
        <xs:element minOccurs="0" ref="ns1:editor"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:volume"/>
          <xs:element ref="ns1:number"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="ns1:series"/>
        <xs:element minOccurs="0" ref="ns1:type"/>
        <xs:element minOccurs="0" ref="ns1:chapter"/>
        <xs:element minOccurs="0" ref="ns1:pages"/>
        <xs:element minOccurs="0" ref="ns1:address"/>
        <xs:element minOccurs="0" ref="ns1:edition"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proceedings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:editor"/>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:year"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:volume"/>
          <xs:element ref="ns1:number"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="ns1:series"/>
        <xs:element minOccurs="0" ref="ns1:address"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:organization"/>
        <xs:element minOccurs="0" ref="ns1:publisher"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inproceedings">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:author"/>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:booktitle"/>
        <xs:element ref="ns1:year"/>
        <xs:element minOccurs="0" ref="ns1:editor"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:volume"/>
          <xs:element ref="ns1:number"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="ns1:series"/>
        <xs:element minOccurs="0" ref="ns1:pages"/>
        <xs:element minOccurs="0" ref="ns1:address"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:organization"/>
        <xs:element minOccurs="0" ref="ns1:publisher"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conference">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:author"/>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:booktitle"/>
        <xs:element ref="ns1:year"/>
        <xs:element minOccurs="0" ref="ns1:editor"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:volume"/>
          <xs:element ref="ns1:number"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="ns1:series"/>
        <xs:element minOccurs="0" ref="ns1:pages"/>
        <xs:element minOccurs="0" ref="ns1:address"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:organization"/>
        <xs:element minOccurs="0" ref="ns1:publisher"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unpublished">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:author"/>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:year"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="misc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:author"/>
        <xs:element minOccurs="0" ref="ns1:title"/>
        <xs:element minOccurs="0" ref="ns1:howpublished"/>
        <xs:element minOccurs="0" ref="ns1:month"/>
        <xs:element minOccurs="0" ref="ns1:year"/>
        <xs:element minOccurs="0" ref="ns1:note"/>
        <xs:element minOccurs="0" ref="ns1:key"/>
        <xs:element minOccurs="0" ref="ns1:crossref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="author" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="journal" type="xs:string"/>
  <xs:element name="year" type="xs:string"/>
  <xs:element name="volume" type="xs:string"/>
  <xs:element name="number" type="xs:string"/>
  <xs:element name="pages" type="xs:string"/>
  <xs:element name="month" type="xs:string"/>
  <xs:element name="note" type="xs:string"/>
  <xs:element name="key" type="xs:string"/>
  <xs:element name="crossref" type="xs:string"/>
  <xs:element name="editor" type="xs:string"/>
  <xs:element name="publisher" type="xs:string"/>
  <xs:element name="series" type="xs:string"/>
  <xs:element name="address" type="xs:string"/>
  <xs:element name="edition" type="xs:string"/>
  <xs:element name="howpublished" type="xs:string"/>
  <xs:element name="organization" type="xs:string"/>
  <xs:element name="institution" type="xs:string"/>
  <xs:element name="type" type="xs:string"/>
  <xs:element name="school" type="xs:string"/>
  <xs:element name="chapter" type="xs:string"/>
  <xs:element name="booktitle" type="xs:string"/>
</xs:schema>
